/* TOP BAR */
.rlv-topbar {
	
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	min-height: 50px;
	z-index: 9999;
	
	background-color: #1e94d2;
}

.rlv-topbar > img {
	margin-top: 10px;
	margin-left: 5px;
}

/* SIDEBAR */
.rlv-sidebar {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 210px;
	margin-left: -211px;
	z-index: 9998;
	transition: margin-left 0.5s;
	overflow-y: auto;
	
	background-color: #f6f6f6;
	border-right: 1px solid #eaeaea ;
}

.rlv-sidebar.is-toggled {
	margin-left: 0px;
}

@media (min-width: 960px)  {
	
	.rlv-sidebar {
		margin-left: 0;
	}
	
	.rlv-sidebar.is-toggled {
	margin-left: -211px;
    }
}

/* CONTENT */
.rlv-content {
	padding: 0 15px;
	margin-top: 50px;
	transition: margin-left 0.5s;
	
}

@media (min-width:960px) {
	
	.rlv-content {
		margin-left: 210px;
	}
	
	.rlv-content.is-toggled {
	    margin-left: 0;
    }
}